.itemCover {
  border-bottom: 1px solid #9e97f0;
  position: relative;
  bottom: 9%;
  width: 90%;
  min-height: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-bottom 1s;
}

.itemCover h4 {
  position: relative;
  color: #6b679f;
  transition: font-size 1s, color 1s;
}

.itemCover h5 {
  font-size: 12px;
  position: relative;
  bottom: 13px;
}

.itemCover:hover {
  border-bottom: 1px solid #282c34;
}

.itemCover h4:hover {
  font-size: 17px;
  color: #282c34;
}
